<div class="login-box">
  <div class="login-logo">
    <b>PUSH</b> | NOTIFICATION
    <p>
      <img src="../../../../assets/push-notifications.gif" height="200" width="250">
    </p>
  </div>
  <div class="col-xs-12  login-box-body">
    <p class="login-box-msg">Por favor, efetue o login para continuar</p>
    
    <form [formGroup]="loginForm">
      <app-input [showTip]="false" >
      <input type="email" formControlName="email" class="form-control " placeholder="Email">
      <span class="glyphicon glyphicon-user form-control-feedback"></span>
      </app-input>
      <app-input [showTip]="false" >
       <input type="password" formControlName="password" class="form-control" placeholder="Senha">
      <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </app-input>
      <div class="row">
        <div class="col-xs-offset-8 col-xs-4">
          <button (click)="login()" [disabled]="loginForm.invalid" class="btn btn-primary btn-block btn-flat">Fazer
            Login</button>
        </div>
        <!-- /.col -->
      </div>
    </form>
    <br />
    <a [routerLink]="['/senhaEsqueci']" class="text-center">Esqueci a senha</a>
    <br />
    <a [routerLink]="['/register']" class="text-center">Cadastrar o usuário</a>
  </div>
</div>
<!-- /.login-box-body -->