<section class="content-header">
  <h1>
    {{title}}
    <small>{{subtitle}}</small>
  </h1>
  <ol class="breadcrumb">
    <li>
      <a [routerLink]="['/home']">Principal</a>
    </li>
    <li class="active"> {{title}}</li>
  </ol>
</section>

<section class="content2">
 <!--
  <div class="box box-success">
    <div class="box-header with-border">
      <h3 class="box-title">
        <b></b>
      </h3>
    </div>
    <form class="form-horizontal" [formGroup]="prevencaoForm">
      <div class="box-body">
        <div class="form-group">
          <label for="processo" class="col-sm-2 control-label">Processo Originário</label>

          <div class="col-sm-10">
            <input type="text" class="form-control" formControlName="processo" placeholder="Digite o processo originário (apenas números)">
          </div>
        </div>
      </div>
      <div class="box-footer">

        <div class="col-xs-offset-9 col-xs-3">
          <button (click)="simular()" [disabled]="prevencaoForm.invalid" class="btn btn-primary btn-flat pull-right">Simular</button>
        </div>
      </div>
    </form>
  </div>
-->
</section>