<section class="content-header">
  </section>
  
  <section class="content">
  
    <div class="jumbotron welcome-jumbotron">
  
      <div class="row">
  
        <div class="col-sm-12 col-md-4">
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title"></h3>
            </div>
            <div class="box-body">
              <p>
                <small>Tela destinada as configurações do usuário</small>
              </p>
              <hr>
              <a [routerLink]="['/perfilUsuario']" class="btn btn-primary btn-block"><b>Perfil</b></a>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-4">
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title"></h3>
            </div>
            <div class="box-body">
              <p>
                <small>Configurações de envio da notificação</small>
              </p>
              <hr>
              <a [routerLink]="['/ConfiguracaoNotificacao']" class="btn btn-primary btn-block"><b>Configurações</b></a>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-4">
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title"></h3>
            </div>
            <div class="box-body">
              <p>
                <small>Tela destinada as configurações das Práticas</small>
              </p>
              <hr>
              <a [routerLink]="['/ConfiguracaoPratica']" class="btn btn-primary btn-block"><b>Prática</b></a>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-4">
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title"></h3>
            </div>
            <div class="box-body">
              <p>
                <small>Tela destinada as configurações do tipo Metodologia</small>
              </p>
              <hr>
              <a [routerLink]="['/ConfiguracaoTipoMetodologia']" class="btn btn-primary btn-block"><b>Tipo Metodologia</b></a>
            </div>
          </div>
        </div>
  
      </div>
  
    </div>
  
  </section>